.header__content{
    display: flex;
    align-items: center;
    padding-top: 22px;
    margin-bottom: 30px;
}


.logo{
    display: flex;
    align-items: center;
    margin-right: 185px;
    .logo__text{
        font-family: Merriweather;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        color: #005FA3;
        margin-left: 30px;
    }
}
.navbar{
    .top__list{
        display: flex;
        .top__list__item{
            display: flex;
            align-items: center;
            line-height: 1.7;
            font-size: 12px;
            color: #000;
            p{
                margin-left: 15px;
                
            }
            margin-left: 40px;
            margin-bottom: 17px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
    .menu__list{
        display: flex;
        .menu__list__item{
            display: block;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #222;
            font-weight: 700;
            
        }
        li{
            margin-left: 60px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
}