
.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
}

.banner{
    position: relative;
    padding-top: 170px;
    padding-bottom: 240px;
    .slick-dots{
        display: flex;
        position: absolute;
        bottom: 113px;
        left: 23%;
        li{
            margin-left: 40px;
            background: #FFFFFF;
            opacity: 0.4;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            &:first-child{
                margin-left: 0;
            }
        }
        .slick-active{
            opacity: 1;
        }
        button{
            font-size: 0;
        }
    }
    .slick-arrow{
        position: absolute;
        bottom: 113px;
        right: 23%;
        font-size: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            content: "";
            position: absolute;
            background: url(../img/next.svg) no-repeat center center;
            height: 15px;
            width: 8px;
        }
        &.slick-next, &.slick-prev{
            width: 60px;
            height: 60px;
            background:rgba(255,255,255, 0.4);
        }
        &.slick-prev{
            transform: rotate(180deg);
            right: 27%;
            
        }
        &.slick-disabled{
            opacity: .2;
        }
    }
    .banner__content{
        .banner__title{
            font-family: Merriweather;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 1.5;
            color: #FFFFFF;
        }
        .banner__btn{
            width: 270px;
            height: 60px
        }
    }
    .slider-nav{
        position: absolute;
        bottom: 0;
    }
}