
// шрифты


@import "header.scss";
@import "slider.scss";
@import "footer.scss";

//ПЕРЕМЕННЫЕ
$fontfamily: "Lato";
$min-width: 320px;
$max-width: 1326;
$md1:$max-width+12;
$md2:1024;
$md3: 767.98;
$md4:479.98;
//


/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside, section{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 14px;
	font-family: $fontfamily;
	font-weight: normal;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: $fontfamily;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*ibg*/


.ibg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img {
		display: none !important;
	}
	
}
.lock{
	overflow: hidden;
}
.container{
	max-width: 1040px;
	margin: 0 auto;
	
}
.title{
	font-family: Merriweather;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
}
.btn{
	color: #fff;
	background-color: #005FA3;
	font-size: 18px;
	line-height: 2.5;
	display: flex;
	align-items: center;
	justify-content: center;
}