@charset "UTF-8";

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 22px;
  margin-bottom: 30px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 185px;
}

.logo .logo__text {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: #005FA3;
  margin-left: 30px;
}

.navbar .top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .top__list .top__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.7;
  font-size: 12px;
  color: #000;
  margin-left: 40px;
  margin-bottom: 17px;
}

.navbar .top__list .top__list__item p {
  margin-left: 15px;
}

.navbar .top__list .top__list__item:first-child {
  margin-left: 0;
}

.navbar .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .menu__list .menu__list__item {
  display: block;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #222;
  font-weight: 700;
}

.navbar .menu__list li {
  margin-left: 60px;
}

.navbar .menu__list li:first-child {
  margin-left: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner {
  position: relative;
  padding-top: 170px;
  padding-bottom: 240px;
}

.banner .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 21%;
}

.banner .slick-dots li {
  margin-left: 40px;
  background: #FFFFFF;
  opacity: 0.4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.banner .slick-dots .slick-active {
  opacity: 1;
}

.banner .slick-dots button {
  font-size: 0;
}

.banner .slick-arrow {
  position: absolute;
  bottom: 0;
  right: 21%;
}

.banner .banner__content .banner__title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.5;
  color: #FFFFFF;
}

.banner .banner__content .banner__btn {
  width: 270px;
  height: 60px;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Lato";
  font-weight: normal;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/*ibg*/

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none !important;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

.title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
}

.btn {
  color: #fff;
  background-color: #005FA3;
  font-size: 18px;
  line-height: 2.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}