@charset "UTF-8";

.header {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  left: 0;
  z-index: 100;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 22px;
  margin-bottom: 30px;
}

.menu-burger {
  display: none;
  position: absolute;
  width: 30px;
  height: 20px;
  right: 5px;
  z-index: 100;
}

.menu-burger span {
  position: absolute;
  background-color: #000;
  left: 0;
  width: 35px;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-burger:before {
  content: "";
  background-color: #000;
  position: absolute;
  width: 35px;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-burger:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 35px;
  height: 2px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-burger:before {
  top: 0;
}

.menu-burger:after {
  bottom: 0;
}

.menu-burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
  width: 25px;
}

.menu-burger.active:after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu-burger.active span {
  width: 25px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 185px;
  z-index: 100;
}

.logo .logo__text {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: #005FA3;
  margin-left: 30px;
}

.logo .logo__img img {
  max-width: 100%;
}

.navbar .top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .top__list .top__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.7;
  font-size: 12px;
  color: #000;
  margin-left: 40px;
  margin-bottom: 17px;
}

.navbar .top__list .top__list__item p {
  margin-left: 15px;
}

.navbar .top__list .top__list__item:first-child {
  margin-left: 0;
}

.navbar .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .menu__list .menu__list__item {
  display: block;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #222;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
}

.navbar .menu__list .menu__list__item.active {
  color: blue;
}

.navbar .menu__list li {
  margin-left: 60px;
}

.navbar .menu__list li:first-child {
  margin-left: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner {
  position: relative;
  padding-top: 170px;
  padding-bottom: 240px;
}

.banner .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 113px;
  left: 23%;
}

.banner .slick-dots li {
  margin-left: 40px;
  background: #FFFFFF;
  opacity: 0.4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.banner .slick-dots li:first-child {
  margin-left: 0;
}

.banner .slick-dots .slick-active {
  opacity: 1;
}

.banner .slick-dots button {
  font-size: 0;
}

.banner .slick-arrow {
  position: absolute;
  bottom: 113px;
  right: 23%;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .slick-arrow:before {
  content: "";
  position: absolute;
  background: url(../img/next.svg) no-repeat center center;
  height: 15px;
  width: 8px;
}

.banner .slick-arrow.slick-next,
.banner .slick-arrow.slick-prev {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.4);
}

.banner .slick-arrow.slick-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 27%;
}

.banner .slick-arrow.slick-disabled {
  opacity: .2;
}

.banner .banner__content .banner__title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.5;
  color: #FFFFFF;
}

.banner .banner__content .banner__btn {
  width: 270px;
  height: 60px;
}

.banner .slider-nav {
  position: absolute;
  bottom: 0;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Lato";
  font-weight: normal;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/*ibg*/

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none !important;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

.title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
}

.btn {
  color: #fff;
  background-color: #005FA3;
  font-size: 18px;
  line-height: 2.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1040px) {
  .logo {
    margin-right: 175px;
  }

  .logo .logo__text {
    margin-left: 25px;
    font-size: 30px;
  }

  .logo .logo__img {
    width: 30px;
  }

  .navbar .top__list .top__list__item {
    font-size: 11px;
    line-height: 1.3;
    margin-left: 28px;
    margin-bottom: 15px;
  }

  .navbar .menu__list .menu__list__item {
    font-size: 12px;
    line-height: 1.3;
  }

  .navbar .menu__list li {
    margin-left: 45px;
  }

  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .menu-burger {
    display: block;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #e8e8e8;
    z-index: 99;
    margin-top: 82px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .navbar.active {
    left: 0;
  }

  .navbar .top-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .navbar .top__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px;
  }

  .navbar .top__list .top__list__item {
    margin-left: 0;
    margin-bottom: 27px;
  }

  .navbar .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .navbar .menu__list li {
    margin-left: 0;
    margin-bottom: 20px;
  }
}